<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecosphere.content.mapper.UserIndexSliderMapper">
    
    <resultMap type="UserIndexSlider" id="UserIndexSliderResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="photo"    column="photo"    />
        <result property="photoStatus"    column="photo_status"    />
        <result property="photoDesc"    column="photo_desc"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserIndexSliderVo">
        select id, title, photo, photo_status, photo_desc, create_time, update_time from user_index_slider
    </sql>

    <select id="selectUserIndexSliderList" parameterType="UserIndexSlider" resultMap="UserIndexSliderResult">
        <include refid="selectUserIndexSliderVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
            <if test="photo != null  and photo != ''"> and photo = #{photo}</if>
            <if test="photoStatus != null "> and photo_status = #{photoStatus}</if>
            <if test="photoDesc != null  and photoDesc != ''"> and photo_desc = #{photoDesc}</if>
        </where>
    </select>
    
    <select id="selectUserIndexSliderById" parameterType="Long" resultMap="UserIndexSliderResult">
        <include refid="selectUserIndexSliderVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserIndexSlider" parameterType="UserIndexSlider" useGeneratedKeys="true" keyProperty="id">
        insert into user_index_slider
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="photo != null and photo != ''">photo,</if>
            <if test="photoStatus != null">photo_status,</if>
            <if test="photoDesc != null">photo_desc,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="photo != null and photo != ''">#{photo},</if>
            <if test="photoStatus != null">#{photoStatus},</if>
            <if test="photoDesc != null">#{photoDesc},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserIndexSlider" parameterType="UserIndexSlider">
        update user_index_slider
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="photo != null and photo != ''">photo = #{photo},</if>
            <if test="photoStatus != null">photo_status = #{photoStatus},</if>
            <if test="photoDesc != null">photo_desc = #{photoDesc},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserIndexSliderById" parameterType="Long">
        delete from user_index_slider where id = #{id}
    </delete>

    <delete id="deleteUserIndexSliderByIds" parameterType="String">
        delete from user_index_slider where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>